@page "/"

@using SoloX.ActionDispatch.Core.Dispatch;

@using ServerSideBlazor.State;
@using BlazorLib.State;
@using BlazorLib;

@inject IDispatcher<IAppState> Dispatcher;

<h1>Hello, world!</h1>

Welcome to your new app.

<Component1 Message="Message from Server-side blazor application" />

<MyCounter Dispatcher="CreateMyCounterDispatcher()" />

@code
{
    IRelativeDispatcher<IMyCounterState> CreateMyCounterDispatcher()
    {
        return Dispatcher.CreateRelativeDispatcher(s => s.MyCounter);
    }
}
