@page "/"

@using SoloX.ActionDispatch.Core.Dispatch;

@using BlazorDemo.WebApp.State;
@using BlazorLib.State;
@using BlazorLib;

@inject IDispatcher<IAppState> Dispatcher;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<Component1 Message="Message from Client-side blazor application" />

<MyCounter Dispatcher="CreateMyCounterDispatcher()" />

<p>
    Here is some text updated asynchronously: @asyncMessage
</p>

@code
{
    string asyncMessage;

    IRelativeDispatcher<IMyCounterState> CreateMyCounterDispatcher()
    {
        return Dispatcher.CreateRelativeDispatcher(s => s.MyCounter);
    }

    protected override void OnInitialized()
    {
        Task.Run(BckGndTask);
    }

    private async void BckGndTask()
    {
        for (int i = 0; i < 20; i++)
        {
            await Task.Delay(1000);
            asyncMessage = $"background process {i}";
            await this.InvokeAsync(this.StateHasChanged);
        }
    }
}
